/* Header top */
#header-top__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-left {
    display: flex;
    align-items: center;
}

#header-top__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 17px 0;
}

.header__logo {
    margin: 15px 0;
    height: 44px;
    display: inline-block;
}

.header__logo img {
    height: 100%;
}

.header__search-input {
    width: 410px;
    height: 28px;
    padding: 0 25px 0 50px;
    margin: 0 26px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.header__search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.header__search-icon {
    position: absolute;
    left: 50px;
    top: 5px;
    height: 18px;
}

.header__category-box {
    padding: 0 12px;
    height: 42px;
    border: none;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 4px;
}

.header-top-right__item {
    height: 24px;
    background-color: unset;
    border: none;
    margin-left: 26px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header-top-right__item span {
    color: #8e92b6;
    font-size: 1.8rem;
}

.header-top-right__img {
    height: 100%;
}

/* Header bottom */
#header-bottom {
    background-color: var(--main-color);
}

.header-bottom__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom__list {
    list-style-type: none;
    display: flex;
}

.header-bottom__item {
    display: inline-block;
    position: relative;
}

.header-bottom__link:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(216, 14, 53), rgba(216 14 53 / 0));
    animation: moveIn ease .5s;
}

@keyframes moveIn {
    from {
        opacity: 0;
        height: 0%;
    }
    to {
        opacity: 1  ;
        height: 100%;
    }
}

.header-bottom__item--action {
    background-image: linear-gradient(rgb(216, 14, 53), rgba(216 14 53 / 0));
}

.header-bottom__link {
    padding: 10px 16px;
    color: var(--white-color);
    font-size: 1.8rem;
    display: inline-block;
}

.header-bottom__item--highlight {
    background-color: var(--bold-main-color);
}

/* article */

.article__wrapper {
    display: flex;
    margin-bottom: 80px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

/* aside */
.article__aside {
    width: calc(25% - 16px);
    background-color: #f7f7f7;
    padding: 32px 24px 160px 24px;
    height: 100%;
    border-radius: 4px;
}

.aside__heading {
    color: #737E95;
    font-weight: 700;
    font-size: 2.0rem;
    margin-bottom: 16px;
}

.aside__list {
    margin-bottom: 30px;
}

.aside__list-item {
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: rgba(116 127 150 / 0.6);
    user-select: none;
}

.aside__label {
    cursor: pointer;
}

.aside-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-image: radial-gradient(rgba(204 204 204 / 0.6), rgba(204 204 204 / 0));
}

.aside-checkbox:checked {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-image: radial-gradient(rgba(30 38 110 / 0), rgba(30 38 110));
}

/* Section */
.article__section {
    width: calc(75% - 16px);
}

.section-heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.section-heading:nth-of-type(2) {
    margin: 40px 0 32px 0;
}

.section-heading-top-left__heading {
    font-size: 3.0rem;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.section-heading-top-left__count {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(243 63 98 / 0.5);
}

.section-heading-top-left__highlight {
    color: rgba(243 63 98 / 0.8);
}

.section__filter-heading {
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(243 63 98 / 0.85);
    margin-bottom: 18px;
    width: 100%;
    text-align: left;
    margin-top: 6px;
}

.section__filter-box {
    height: 34px;
    width: 220px;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__filter-box span {
    font-size: 1.8rem;
    color: #ccc;
}

.section__filter-box i {
    font-size: 1.4rem;
    color: #ccc;
}

.section-heading-bottom__btn {
    background-color: #f0f0f0;
    width: 72px;
    height: 30px;
    border-radius: 4px;
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
}

.section-heading-bottom__btn--highlight {
    background-color: var(--main-color);
    color: var(--white-color);
}

.section__pagination {
    float: right;
}

.section__pagination-btn {
    height: 32px;
    width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2px rgba(0 0 0 / 0.4);
    margin-left: 8px;
    cursor: pointer;
    color: #333;
    background-color: rgba(243 63 98 / 0.15);
}

.section__pagination-btn:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.section__pagination-btn:last-of-type, .section__pagination-btn:first-of-type {
    background-color: #f0f0f0;
}

.section__pagination-btn:last-of-type:hover, .section__pagination-btn:first-of-type:hover {
    opacity: 0.5;
    color: #333;
    background-color: #f0f0f0;
}

.section__pagination-btn--action {
    background-color: var(--main-color);
    color: var(--white-color);
    cursor: default;
}

.section__pagination-btn--disable {
    cursor: default;
    color: #ccc !important;
    opacity: unset !important;
}

/* products */
.section-product__list {
    display: flex;
    flex-wrap: wrap;
}

.section-product__item {
    width: calc(25% - 32px);
    margin: 0 16px 32px 16px;
    padding: 16px;
    box-shadow: 0 0 12px rgba(204, 204, 204, 0.3);
    border-radius: 20px;
    cursor: pointer;
}

.section-product__item:hover {
    background-color: #f5f5f5;
    box-shadow: 0 0 12px rgba(204 204 204 / 0.5);
    opacity: 0.8;
}

.section-product__item:hover .section-product__img {
    transform: scale(1.5);
}

.section-product__img-wrapper {
    margin-bottom: 10px;
    overflow: hidden;
}

.section-product__img {
    transition: transform 1s;
    padding-top: 60%;
    background: url(../img/products/1.png) no-repeat center / contain;
    margin-bottom: 4px;
}

.section-product__heading {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(30, 38, 110, 0.5);
    text-align: center;
    margin-bottom: 8px;
}

.section-product__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.section-product__price {
    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(30, 38, 110, 0.67);
}

.section-product__add-btn {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(135deg, var(--main-color), var(--bold-main-color));
}

.section-product__add-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.section-product__add-btn i {
    color: var(--white-color);
    font-size: 1.4rem;
}

.section-product__location {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(243, 63, 98, 0.65);
    text-align: right;
}

/* footer */
#footer {
    background-color: #f0f0f0;
    padding: 30px 80px 100px 80px;
}

.footer__logo {
    width: 20%;
    margin-bottom: 20px;
}

.footer__box {
    display: flex;
}

.footer__wrapper:nth-of-type(1) {
    flex: 5;
}

.footer__wrapper:nth-of-type(2) {
    flex: 4;
    margin: 0 32px;
}

.footer__wrapper:nth-of-type(3) {
    flex: 3;
}

.footer__heading {
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #344059;
    font-weight: 500;
    text-transform: uppercase;
}

.footer__link {
    color: rgba(116 127 150 / 0.6);
    line-height: 2.5rem;
    font-size: 2.2rem;
    font-weight: 500;
    width: 90%;
}

.footer__bold {
    color: #737E95;
    font-weight: 700;
}